langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python_dotenv
langgraph
langsmith
rank-bm25
fastapi
uvicorn[standard]
streamlit
pydantic-settings
ragas
pytest
